:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #30180f;
  background-color: #fbfbf1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1380px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.button {
  appearance: button;
  cursor: pointer;
  background: #eba042;
  border: 1px solid #30180f;
  border-radius: 10px;
}
